---
import LinkButton from '../components/LinkButton.astro';

const {object} = Astro.props
const {title, thumbnail, description, links} = object

---

<div class="project-card sm:p-5 rounded-lg md:flex gap-8 sm:hover:bg-slate-400 sm:hover:bg-opacity-20">
  <div class="lg:w-1/2">
    <img class="w-full rounded-lg border-[1px] border-neutral-700 hover:border-neutral-400 duration-100" src=`src/images/thumbnails/${thumbnail}` alt="project img">
  </div>
  <div class="project-description flex flex-col gap-3 lg:w-1/2 mt-4 lg:mt-0">
    <h3 id="project-title" class="font-[700] text-[24px] text-[#dbff00]">{title}</h3>
    <p>{description}</p>
    <div class="project-links-container flex gap-3">
      <LinkButton text="Demo" url={links.demo}, icon={{type: 'solid', uri: 'laptop-code'}} />
      <LinkButton text="Repositorio" url={links.repo}, icon={{type: 'brands', uri: 'github'}} />
    </div>
  </div>
</div>